@font-face {
    font-family: Oneplus;
    src: url(font/OnePlusSans3.0En-VF.woff2);
}

@font-face {
    font-family: download1;
    src: url(font/download\ \(1\));
}

@font-face {
    font-family: download;
    src: url(font/download);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: #fff;
    padding: 0 08px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #eaeaea;
}

.nav-logo img {
    width: 85px;
    height: 24px;
    margin-top: 4px;
    margin-left: 1px;
}

.header-icon {
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    border-radius: 50%;
    /* Optional: circle background on hover */
}



.icon img,
.icon svg {
    height: 24px;
    width: 24px;
    display: block;
}

.nav-box {
    background-color: #fff;
    padding-top: 24px;
    margin-bottom: 0;
}

.nav-li {
    display: flex;
    max-width: 1172.52px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    /* padding-bottom: 4px; */
    flex-direction: row;
    align-items: center;
    list-style: none;
    overflow-x: auto;
}

.nav-box-li {
    padding-bottom: 4px;
    min-width: 100px;
    height: 102px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nav-box-li:nth-child(3) {
    border-bottom: 1px solid red;
}

.nav-box-li img {
    width: 36px;
    height: 36px;
}

.nav-box-li p {
    font-family: Oneplus;
    white-space: nowrap;
    margin-top: 15px;
    padding: 0 14px 25px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.champ {
    min-width: 100px;
    flex-shrink: 0;
    position: relative;
}

.champ div {
    display: flex;
    padding-bottom: 4px;
    flex-direction: column;
    align-items: center;
}

.champ p {
    font-family: Oneplus;
    white-space: nowrap;
    margin-top: 15px;
    padding: 0 14px 25px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.champ img {
    width: 36px;
    height: 36px;
}

.sort-box {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.filter {
    display: flex;
    align-items: center;
}

.filter-title {
    font-size: 14px;
    font-family: Oneplus;
    color: rgba(0, 0, 0.95);
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 20px;
}

.filter-icon {
    display: flex;
    margin-left: 4px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    align-items: center;
}

.filter-box {
    height: 18px;
    width: 100%;
}

.rank-main {
    display: flex;
    justify-content: space-between;
}

.rank-sort {
    display: flex;
    align-items: baseline;
    margin-left: 30px;
}

.rank-sort p {
    color: rgba(0, 0, 0, 0.55);
    margin-right: 8px;
    font-size: 14px;
    font-weight: 400;
    font-family: Oneplus;
}

.side-bar {
    width: 26.18%;
    padding: 32px 40px 32px 64px;
    border-right: 1px solid #eaeaea;
}

.side-list {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}

.sort-checkbox {
    margin-bottom: 48px;
    box-sizing: border-box;
    display: block;
}

.sort-text {
    font-family: Oneplus;
    box-sizing: border-box;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}

.sort-main {
    display: flex;
    margin-top: 12px;
    align-items: center;
}

.field {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.in-stock {
    font-size: 14px;
    font-family: Oneplus;
    margin-left: 8px;
    font-weight: 400;
}

.products-content {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4px;
    display: grid;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding-bottom: 32px;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    /* margin: 0;
    padding: 0;
    font-weight: 400;
    display: block; */
}

.main-products-one {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 4px;
}

/* .products-content {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 32px;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

} */

.main-products-one img {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

.product-image {
    background-color: #f8f8f8;
}

.description {
    padding: 8px 0px 0px 0px;
}

.main-products-one:nth-child(4) {
    margin-top: 16px;
}

.description h3 {
    /* padding-top: 4px;
    padding-bottom: 4px; */
    font-family: Oneplus;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 4px;
}

.discount {
    color: red;
    font-size: 12px;
    font-weight: 400;
    font-family: Oneplus;
    padding-top: 4px;
    padding-bottom: 4px;
}

.mrp {
    color: rgba(0, 0, 0, 0.95);
    font-size: 14px;
    font-weight: 400;
    font-weight: 400;
    font-family: Oneplus;
}


.price {
    color: #999;
    font-size: 10px;
    text-decoration: line-through;
    font-weight: 400;
    font-family: Oneplus;
}

.details {
    padding-top: 12px;
    font-weight: 400;
}


.footer {
    padding: 24px 16px;
    background-color: black;
    border-top: 1px rgba(0, 0, 0, 0.1) solid;
    display: block;
}

.footer-text {
    min-width: 250px;
    max-width: 1312px;
    display: block;
    margin: auto;
    width: 100%;
    padding: 0;
}

.footer-home {
    width: 100%;
    display: flex;
    margin: 0 0 40px 0;
}

.summary {
    font-weight: 400;
    font-family: Oneplus;
    font-size: 16px;
}

.home {
    color: #fff;
    font-size: 14px;
    font-family: Oneplus;
}

.tab {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: flex-end;
}

.tab span {
    color: #fff;
    font-size: 14px;
    font-family: oneplus;
    font-weight: 400;
    margin: 0 4px;
}

.tab img {
    width: 16px;
    height: 16px;
}

/* -------bottom------ */
.bottom-container {
    margin-top: 8px;
    margin: 0;
    padding: 0;
    display: block;
}

.footer-links-section {
    background: #000;
    color: #fff;
    padding: 20px;
}

.footer-column {
    border-bottom: 1px ;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.footer-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer-header h4 {
    font-family: Oneplus;
    font-size: 14px;
    font-weight: 400;
    /* margin: 0; */
}

.footer-nav li {
    font-family: Oneplus;
}

.plus-icon {
    font-size: 20px;
    user-select: none;
}

.footer-nav {
    list-style: none;
    padding: 10px 0 0;
    margin: 0;
    /* display: none; */
}

.footer-nav li {
    font-family: Oneplus;
    font-size: 12px;
    padding: 6px 0;
    color: #ccc;
}

.footer-nav li:hover {
    color: white;
}


.support-link {
    margin-top: 40px;
    margin-bottom: 40px;
}

.support-link a {
    color: #fff;
    font-size: 16px;
    /* font-weight: bold; */
    text-decoration: none;
    font-family: Oneplus;
}

.support-link img {
    height: 20px;
    width: 20px;
    margin-bottom: -2px;
}

.media-main {
    display: flex;
}

.media-site {
    width: 111.41;
    justify-content: space-between;

    display: flex;
    align-items: center;
    padding-bottom: 18px;
    border-bottom: 1px solid #333333;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 18px;
}

.site {
    display: flex;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 24px;
    align-items: self-end;
    font-size: 14px;
    font-family: Oneplus;
}

.globe::before {
    font-size: 24px;
    content: "\E006";
    font-family: download1;
    margin-right: 4px;
}

.social-media {
    line-height: 0;
    height: 24px;
    margin-bottom: 24px;
}

.social-media::before {
    content: "\E004";
    font-family: download1;
    color: #828282;
    line-height: 1;
    font-size: 24px;
}

.twitter-media {
    line-height: 0;
    height: 24px;
    margin-bottom: 24px;
    margin-left: 20px;
}

.twitter-media::before {
    content: "\E00B";
    font-family: download1;
    color: #828282;
    line-height: 1;
    font-size: 24px;
}

.insta-media {
    line-height: 0;
    height: 24px;
    margin-bottom: 24px;
    margin-left: 20px;
}

.insta-media::before {
    content: "\E005";
    font-family: download1;
    color: #828282;
    line-height: 1;
    font-size: 24px;
}

.payment-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-bottom: 35px;
}

.credit {
    color: #828282;
    font-size: 12px;
    font-family: Oneplus;
    align-items: center;
    display: flex;
    align-items: center;
    margin-right: 24px;
    margin-bottom: 8px;
}

.credit::before {
    content: "\E002";
    font-family: download1;
    font-size: 24px;
    margin-right: 5px;
}

.credit-bank {
    color: #828282;
    font-size: 12px;
    font-family: Oneplus;
    align-items: center;
    display: flex;
    align-items: center;
    margin-right: 24px;
    margin-bottom: 8px;
}

.credit-bank::before {
    content: "\E009";
    font-family: download1;
    font-size: 24px;
    margin-right: 5px;
}

.credit-emi {
    color: #828282;
    font-size: 12px;
    font-family: Oneplus;
    align-items: center;
    display: flex;
    align-items: center;
    margin-right: 24px;
    margin-bottom: 8px;
}

.credit-emi::before {
    content: "\E003";
    font-family: download1;
    font-size: 24px;
    margin-right: 5px;
}

.credit-wallet {
    color: #828282;
    font-size: 12px;
    font-family: Oneplus;
    align-items: center;
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.credit-wallet::before {
    content: "\E00D";
    font-family: download1;
    font-size: 24px;
    margin-right: 5px;
}

/* .bottom-container{
    margin-top: 8px;
}
.policy {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.policy-li {
    margin-top: 8px;
    display: flex;
    align-items: center;
    padding-right: 12px;
    height: 11px;
    margin-right: 12px;
}

.policy-li span {
    color: #828282;
    font-size: 12px;
    font-family: Oneplus;
    padding-right: 12px;
    margin-right: 12px;
    font-weight: 400;
    border-right: 1px solid #333333;
    line-height: 11px;
}

.copyright {
    margin: 0;
    padding: 0;
    display: block;
}

.reserved {
    margin: 8px 0;
    padding: 0.9 ;
}

.reserved span {
    color: #828282;
    font-size: 12px;
    font-family: Oneplus;
} */
.bottom-container {
    margin-top: 8px;
    font-weight: 400;
    text-align: left;
}

.bottom-container ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.bottom-container li {
    margin-top: 8px;
    display: flex;
    align-items: center;
    margin-right: 12px;
    padding-right: 12px;
    height: 11px;
    border-right: 1px solid #333;
}

.rank-selection {
    /* position: absolute; */
    left: 0;
    top: 27px;
    width: max-content;
    /* min-width: 180px; */
    z-index: 99;
    background-color: #FFFFFF;
    border: none;
    border-radius: 2px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: pointer;
}

.rank-list {
    font-family: Oneplus;
    font-size: 16px;

}

.bottom-container span {
    background-color: transparent;
    color: #828282;
    font-weight: 400;
    font-family: Oneplus;
    font-size: 11px;
}

.reserved {
    margin: 8px 0;
    font-family: Oneplus;
    font-weight: 400;
    text-align: left;
    display: block;
    color: #828282;
    font-size: 12px;
}

.footer-links-section {
    background-color: black;
    padding: 20px;
    font-family: sans-serif;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-group {
    border-bottom: 1px solid #141414;
    padding-bottom: 10px;
}

.footer-toggle {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    color: #828282;
}

.footer-toggle h4 {
    font-family: Oneplus;
    font-size: 16px;
    margin: 0;
    color: #999;
}

.plus-icon {
    font-size: 20px;
    transition: transform 0.3s ease;
}

.footer-toggle[aria-expanded="true"] .plus-icon {
    transform: rotate(45deg);
}

.footer-nav {
    list-style: none;
    padding: 10px 0 0 10px;
    margin: 0;
}

.footer-nav li {
    padding: 4px 0;
}

.footer-nav li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .footer-column {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-group {
        width: 18%;
        border: none;
        padding-bottom: 0;
    }

    .footer-toggle {
        cursor: default;
        pointer-events: none;
    }

    .plus-icon {
        display: none;
    }

    .footer-nav {
        display: block;
        padding-left: 0;
    }

    .footer-toggle[aria-expanded="false"]+.footer-nav {
        display: block;
    }
}


@media (min-width: 375px) {
    .side-bar {
        display: none;
    }

    .rank-main {
        display: none;
    }

    .filter-box {
        display: none;
    }
}

@media (min-width: 650px) {
    .products-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .champ div {
        width: 128px;
        height: 127px;
        padding-bottom: 35px;
        border-bottom: 1px solid #ebebeb;
    }

    .champ img {
        width: 56px;
        height: 56px;
    }

    .champ p {
        padding: 0px 14px;
    }

    .products-content {
        gap: 18px;
    }

    .product-image {
        /* width: 214.81px;
        height: 214.81px; */
        width: 100%;
        aspect-ratio: 1;
        display: flex;
        padding: 13px;
    }

    .product-image img {
        width: 100%;
        height: 100%;
    }

    /* 
    .main-products-one img {
        width: 188.81px;
        height: 188.81px;
    } */

    .sort-box {
        display: none;
    }

    .side-parent {
        display: flex;
        max-width: 1440px;
        margin: 0 auto;
        /* width: 100%; */
    }

    .side-bar {
        display: block;
    }

    .products-content {
        padding: 14px 64px 64px 20px;
    }

    .filter-box {
        display: block;
    }

    .rank-main {
        display: flex;
    }

    .rank-parent {
        flex: 1;
    }

}

@media (min-width: 1025px) {
    .footer-links-section {
        display: grid;
        gap: 40px;
    }

    .footer-column {
        border: none;
        padding: 0;
        /* display: flex; */
    }

    .footer-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;
        align-items: flex-start;
    }

    .footer-nav {
        display: block;
    }

    .plus-icon {
        display: none;
    }
}